################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LetterBoxSolver/.vs
/LetterBoxSolver/LetterBoxSolver/obj
